/* investment-dashboard-light */

.App {
    position: relative;
    width: 375px;
    height: 987px;
    background: #FFFFFF;

}

.AppNavbar {
    position: absolute;
    width: 331px;
    height: 35px;
    left: 23px;
    top: 46px;

}

.AppChart1{
    position: absolute;
    width: 347px;
    height: 14px;
    left: 22px;
    top: 176px;

}

.SelectChartType {
    position: absolute;
    width: 331px;
    height: 39px;
    left: 22px;
    top: 567px;
}